* {
  margin: 0;
  padding: 0;

  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;

  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;

  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Author", sans-serif;
}
body.locked {
  overflow: hidden;
}

.section__title {
  color: #051655;

  font-size: 50px;
  font-weight: 494;
  font-style: normal;
  line-height: 56px;
}
.section__text {
  max-width: 600px;

  color: #747887;

  font-size: 20px;
  font-weight: 375;
  font-style: normal;
  line-height: 22px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  max-width: -webkit-fit-content;
  max-width:    -moz-fit-content;
  max-width:         fit-content;
  padding: 18px 48px;

  color: #ffffff;
  background: #eb3d35;

  font-size: 22px;
  font-weight: 494;
  font-style: normal;
  line-height: 24px;

  gap: 40px;
}
.btn svg {
  -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;
}
.btn:hover {
  -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;

  background: rgb(161, 1, 1);
}
.btn:hover svg {
  -webkit-transform: translate(10px);
      -ms-transform: translate(10px);
          transform: translate(10px);
}

main {
  padding: 50px 200px;
}

.btn__outline {
  padding: 18px 48px;

  color: #051655;
  border: 1px solid #e5e4e1;
  background: #ffffff;

  font-size: 22px;
  font-weight: 494;
  font-style: normal;
  line-height: 24px;
}
.btn__outline:hover {
  -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;

  color: #ffffff;
  background: #051655;
}

@font-face {
  font-family: "Author";
  font-weight: 375;

  src: url("../fonts/Author-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Author";
  font-weight: 494;

  src: url("../fonts/Author-Medium.ttf") format("truetype");
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  width: 100%;
  height: 100vh;
}
.header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
      flex: 0 1 50%;
}
.header__item.image__item {
  background: url("../img/bg.jpg") center/cover no-repeat;
}
.header__item.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  padding: 65px 100px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-bottom: 89px;
}

.header__btn {
  margin-top: 40px;
  padding: 18px 30px;

  text-decoration: none;
}

.link {
  margin-top: auto;

  color: #747887;

  font-size: 18px;
  font-weight: 375;
  font-style: normal;
  line-height: 20px;
}
.link a {
  color: #eb3d35;
}

.steps__numbers {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  max-width: 650px;
  margin-bottom: 60px;
}

.progress {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 0;
  left: 0;

  height: 2px;

  background: #e5e4e1;
}
.progress__success {
  position: absolute;
  right: 0;
  left: 0;

  height: 2px;

  -webkit-transition: 0.6s all ease;
          transition: 0.6s all ease;

  background: #eb3d35;
}

.step__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  margin-right: 100px;

  border: 2px solid #e5e4e1;
  border-radius: 100%;
  background: #ffffff;
}
.step__number.active__number {
  -webkit-transition: 1s all ease;
          transition: 1s all ease;

  border: transparent;
  background: #eb3d35;
}
.step__number.active__number path {
  -webkit-transition: 1s all ease;
          transition: 1s all ease;

  fill: #ffffff;
}
.step__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 80px;

  gap: 20px;
}

.form__step {
  display: none;
}
.form__step.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}
.form__input {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  max-width: 460px;

  border: 1px solid #e5e4e1;
}
.form__input .search__input {
  margin-top: 40px;
}

.input {
  width: 100%;
  padding: 20px 20px 20px 65px;

  color: #747887;
  outline: none;

  font-size: 18px;
  font-weight: 375;
  font-style: normal;
  line-height: 20px;
}
.input:focus {
  outline: 1px solid #eb3d35;
}
.input__img {
  position: absolute;
  top: 50%;
  left: 30px;

  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.form__item {
  margin-top: 40px;
}
.form__item-title {
  color: #051655;

  font-size: 25px;
  font-weight: 494;
  font-style: normal;
  line-height: 28px;
}

.radio__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 100%;
  max-width: 1440px;
  margin-top: 20px;

  gap: 20px;
}

.radio__item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  width: 100%;
  max-width: 360px;
  padding: 10px;

  background: #f3f6f9;
}
.radio__item .fake {
  position: absolute;
  top: 50%;
  right: 30px;

  width: 30px;
  height: 30px;

  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);

  border: 1px solid #eb3d35;
  border-radius: 100%;
}
.radio__item .fake::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 20px;
  height: 20px;

  content: "";
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  opacity: 0;
  border-radius: 100%;
  background: #eb3d35;
}
.radio__item .text {
  margin-left: 30px;

  color: #051655;

  font-size: 20px;
  font-weight: 494;
  font-style: normal;
  line-height: 22px;
}
.radio__item .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  padding: 10px;

  background: #ffffff;
}
.radio__item .img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.radio__item .border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  border: 1px solid #eb3d35;
}
.radio__input {
  display: none;
}
.radio__input:checked + .fake:after {
  opacity: 1;
}
.radio__input:checked ~ .border {
  opacity: 1;
}

.checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 100%;
  max-width: 1440px;
  margin-top: 20px;

  gap: 20px;
}

.checkbox__item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  width: 100%;
  max-width: 360px;
  padding: 10px;

  background: #f3f6f9;
}
.checkbox__item .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  padding: 10px;

  background: #ffffff;
}
.checkbox__item .img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.checkbox__item .text {
  margin-left: 30px;

  color: #051655;

  font-size: 20px;
  font-weight: 494;
  font-style: normal;
  line-height: 22px;
}
.checkbox__item .fake {
  position: relative;

  width: 30px;
  height: 30px;
  margin-left: auto;

  border: 1px solid #e5e4e1;
  border-radius: 5px;
  background: #ffffff;
}
.checkbox__item .fake:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: "";

  opacity: 0;
  border-radius: 5px;
  background: #eb3d35 url(../img/check.svg) no-repeat;
  background-position: center;
}
.checkbox__item .border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  border: 1px solid #eb3d35;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked ~ .fake:after {
  opacity: 1;
}
.checkbox__input:checked ~ .border {
  opacity: 1;
}

.file__uploader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  max-width: 1120px;
  margin-top: 40px;

  gap: 40px;
}
.file__uploader-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.file__uploader-item:first-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 360px;
      flex: 0 1 360px;
}
.file__uploader-item:last-child {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.file__label {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 360px;
  height: 360px;

  cursor: pointer;

  border: 2px dashed #051655;
  background: #f3f6f9;
}
.file__input {
  display: none;
}
.file__item {
  position: absolute;
  top: 50%;
  left: 50%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.file__item-text {
  margin-top: 30px;

  color: #051655;

  font-size: 20px;
  font-weight: 494;
  font-style: normal;
  line-height: 22px;
}

.profile__inputs {
  margin-top: 17px;
}
.profile__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  max-width: 100%;
  margin-top: 10px;
}
.profile__input .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
}

.interests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  gap: 10px;
}

.interest__item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 20px;
  padding: 15px 24px;

  cursor: pointer;

  border: 1px solid #e5e4e1;
  background: #ffffff;
}
.interest__checkbox {
  display: none;
}
.interest__checkbox:checked ~ .interest__text {
  color: #051655;
}
.interest__checkbox:checked ~ .interest__border {
  opacity: 1;
}
.interest__text {
  color: #747887;

  font-size: 18px;
  font-weight: 494;
  font-style: normal;
  line-height: 20px;
}
.interest__border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  border: 1px solid #051655;
}

.first__input {
  position: relative;

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  width: 460px;
  height: 60px;
}

.last__input {
  position: relative;

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  width: 460px;
  max-width: 930px;
  height: 60px;
  margin-left: 7px;
}

.description__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  max-width: 930px;
  height: 240px;
  margin-top: 5px;

  border: 1px solid #e5e4e1;
}

.self__input {
  width: 100%;
  max-width: 930px;
  height: 240px;
  padding: 20px;

  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;

  color: #747887;
  border: 1px solid #e5e4e1;
  outline: none;

  font-size: 18px;
  font-weight: 375;
  font-style: normal;
}
.self__input:focus {
  outline: 1px solid #eb3d35;
}

.finish {
  display: none;
}
.finish__logo {
  margin-top: 50px;
}
.finish__title {
  margin-top: 40px;

  color: #051655;

  font-size: 50px;
  font-weight: 494;
  font-style: normal;
  line-height: 56px;
}
.finish__text {
  margin-top: 10px;

  color: #747887;

  font-size: 20px;
  font-weight: 375;
  font-style: normal;
  line-height: 22px;
}

.finish__btn {
  margin-top: 60px;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}
