.file {
  // .file__uploader
  &__uploader {
    display: flex;

    width: 100%;
    max-width: 1120px;
    margin-top: 40px;

    gap: 40px;
  }
  // .file__uploader-item
  &__uploader-item {
    flex: 1 1 auto;

    &:first-child {
      flex: 0 1 360px;
    }

    &:last-child {
      flex: 1 1 auto;
    }
  }
  // .file__label
  &__label {
    position: relative;

    display: flex;

    width: 360px;
    height: 360px;

    cursor: pointer;

    border: 2px dashed $blue;
    background: $lightblue;
  }

  &__input {
    display: none;
  }
  // .file__item
  &__item {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    align-items: center;
    flex-direction: column;

    transform: translate(-50%, -50%);
  }

  // .file__item-img


  // .file__item-text
  &__item-text {
    margin-top: 30px;

    color: $blue;

    font-size: 20px;
    font-weight: 494;
    font-style: normal;
    line-height: 22px;
  }
}

.profile {
  // .profile__input
  // .profile__inputs

  &__inputs {
    margin-top: 17px;
  }

  &__input {
    display: flex;

    width: 100%;
    max-width: 100%;
    margin-top: 10px;

    .input {
      display: flex;

      width: 100%;
    }
  }
}
