.finish {
  display: none;

  // .finish__logo
  &__logo {
    margin-top: 50px;
  }

  // .finish__title
  &__title {
    margin-top: 40px;

    color: $blue;

    font-size: 50px;
    font-weight: 494;
    font-style: normal;
    line-height: 56px;
  }

  // .finish__text
  &__text {
    margin-top: 10px;

    color: $gray;

    font-size: 20px;
    font-weight: 375;
    font-style: normal;
    line-height: 22px;
  }
}

.finish__btn {
  margin-top: 60px;
}
