@font-face {
  font-family: "Author";
  font-weight: 375;

  src: url("../fonts/Author-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Author";
  font-weight: 494;

  src: url("../fonts/Author-Medium.ttf") format("truetype");
}
