.interests {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}
.interest {
  // .interest__item

  &__item {
    position: relative;

    display: flex;

    margin-top: 20px;
    padding: 15px 24px;

    cursor: pointer;

    border: 1px solid $lightgray;
    background: $white;
  }

  // .interest__checkbox
  &__checkbox {
    display: none;

    &:checked ~ .interest__text {
      color: $blue;
    }

    &:checked ~ .interest__border {
      opacity: 1;
    }
  }

  // .interest__text
  &__text {
    color: $gray;

    font-size: 18px;
    font-weight: 494;
    font-style: normal;
    line-height: 20px;
  }

  // .interest__border
  &__border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
    border: 1px solid $blue;
  }
}
